/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * CSS
 * -------------------------------------------------------------------------- */

@import url("./default.css");
@import url("./components.css");
@import url("./twikoo.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css");
@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/res/fonts/ibm-plex-mono.css?v=20260427014245");

/**
 * Variables
 * -------------------------------------------------------------------------- */

:root {
  /* font family */
  --vp-font-family-base: "InterVariable", system-ui, sans-serif;
  --vp-font-family-mono: "IBM Plex Mono", var(--vp-font-family-base);
  /* only for title !!!!!! */
  --vp-font-family-title: var(--vp-font-family-base);

  /* Border Radius */
  --vp-border-radius-2: calc(var(--vp-border-radius-1) - 6px);
  --vp-border-radius-3: calc(var(--vp-border-radius-2) - 6px);
  --vp-border-radius-4: calc(var(--vp-border-radius-3) - 6px);

  /* Shadow */
  --vp-shadow:
    var(--vp-c-bg-alt) 0px 12px 25px -5px, var(--vp-c-bg-alt) 0px 7px 15px -7px;
  --vp-shadow-brand:
    var(--vp-c-brand-soft) 0px 12px 25px -5px,
    var(--vp-c-brand-soft) 0px 7px 15px -7px;
  --vp-shadow-negative:
    var(--vp-c-yellow-soft) 0px 12px 25px -5px,
    var(--vp-c-yellow-soft) 0px 7px 15px -7px;

  /* Blur */
  --vp-blur: blur(10px);

  /* Mini Icon Background */
  --vp-mini-bg: var(--vp-c-bg-elv);

  font-variant-alternates: styleset(
    open-digits,
    disambiguation,
    round-quotes-and-commas
  );

  &:dir(rtl) {
    --start: right;
    --end: left;
    --transform-start-far: translateX(100%);
    --transform-end-far: translateX(-100%);
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
    scroll-behavior: auto;
  }
  font-synthesis: style;
  text-autospace: normal;
  text-size-adjust: none;
}

.dark {
  --vp-mini-bg: var(--vp-c-border);
}

@font-face {
  font-family: "OPPO Sans";
  src: url("https://www.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Bold.woff2")
    format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "OPPO Sans";
  src: url("https://www.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Bold.woff2")
    format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "OPPO Sans";
  src: url("https://www.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Medium.woff2")
    format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "OPPO Sans";
  src: url("https://www.oppo.com/content/dam/statics/fonts/cn/OPPOSans3.0cn-Regular.woff2")
    format("woff2");
  font-weight: 400;
}
